.footer {
  position: static;
  background: linear-gradient(1deg, #000000,#262626);
  color: #fff;
  clear: both;
}

.footer-left {
  float: left;
  width: 33%;
  text-align: left;
  padding: 4%;
  padding-bottom: 1%;
}
i{
  margin: 0 5px;
  margin-top: 10px;
  margin-left: 0px;
}

i a{
  
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
}

i a:hover{
  color: #111;
  background: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s ease;
}

#confirm_message {
  font-family: 'Cormorant Garamond';
  font-size: 25px;
  font-weight: 400;
}

.footer-center {
  float: left;
  width: 33%;
  text-align: center;
  padding: 4%;
}

.footer-right {
  float: right;
  width: 33%;
  padding: 4%;
  text-align: center;
}
.copyright {


    font-style: normal;
    text-align: center;
}
.copyright p {
  padding-bottom: 0 !important;
  font-family: 'Nunito Sans', sans-serif !important;
  letter-spacing: 1px;
  font-size: 13px !important;
  text-align: center;
}

p,li {
  margin-bottom: 0 !important;
  padding-bottom: 40px;
  font-size: 1.2em !important;
  font-family: 'Cormorant Garamond', serif;

}

p a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
}

p a:hover{
  color: #111;
  background: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-left p, .footer-right p, .footer-center p {
      font-size: 1.5em !important;
      padding-bottom: 12%;
      padding-left: 0 !important;
  }

  .footer-center i {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 8%;
  font-size: 1.5em;
  font-family: 'Cormorant Garamond', serif;

}

.footer-bottom {
  clear: both;
  text-align: center;
}

.footer-bottom p{
  display: inline;
  padding: 2%;
  font-size: inherit;
}
.footer h3 {
  font-size: 2em;
  font-family: 'Nunito Sans', sans-serif !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 100 !important;
  padding-bottom: 3%;
}

.footer-right h3 {
  font-family: 'Cormorant Garamond', serif !important;

}

.footer-right i {
  display: block;
  font-size: 1.5em;
  font-family: 'Nunito Sans', sans-serif !important;
  padding-bottom: 2em;
  margin-top: 60px;
}

h4{
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  margin-bottom: 0;
}



.footer form input[type="email"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.footer form input[type="checkbox"] {
  margin-right: 0.5em;
}

.footer form input[type="submit"] {

  padding: 0.5em 1em;

  cursor: pointer;
  margin-bottom: 70px;
}
.footer-right input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.footer-right label {
  vertical-align: middle;
  font-size: 16px;
}
label {
  display: inline;
}
.checkbox-container {
  margin-top:20px;
}
.footer-right input[type="submit"] {
  display: inline;  
  margin-left: 0;
  float: right;
  background: transparent;
  border: 1px solid transparent;
  color: inherit;
  transition: border-color 0.25s ease-in-out;
}


.invisible-checkbox-container {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  position: relative;
  margin-right: 5px;
}

.invisible-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

.checkmark {
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.invisible-checkbox:checked + .checkmark {
  display: block;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.invisible-checkbox:checked + .checkmark:after {
  display: block;
  top: -12px;
  left: 5px;
  width: 4px;
  height: 20px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


input[type="submit"]:hover {
  border-color: white;
}

.submit_button {
  font-family: 'Nunito Sans', sans-serif !important;
  letter-spacing: 2px;

}

.footer-bottom p {
  font-family: 'Nunito Sans', sans-serif !important;
  letter-spacing: 2px;
  font-size: 13px !important;
  font-style: normal;
}

@media only screen and (max-width: 1080px) {
  .footer-left, .footer-center {
    width: 100%;
    float: none;
    text-align: center;
  }

  .footer-right {
    width: 100%;
    float: none;
    margin-top: -30px;
  }

  .footer-left p, .footer-right p, .footer-center p {
    margin-top: 0%;
}

.p {
  padding-bottom: 0 !important;

}

.footer-center i {

  padding-bottom: 0;

}

}





